/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane , ion-content {
  background-color: #333;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.swipe-cards {

}

.XXX-swipe-card {
  display: none;
  position: relative;
  -webkit-transform: scale(1,1);
  width: 320px;
  /*height: 300px;*/
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
  margin: 4px auto;
}


#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}



ion-list .list {
  /* 320 + padding-left  */
  width: 369px;
  margin: 0 auto;
}
ion-item.item {
  border: none;
}
ion-item.item-complex .item-content {
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 49px;
  
  margin: 0;
  background-color: #ddd;
}
.card.tossable-card {
  width: 320px;
  margin: 4px auto;
}

.swipe-card.keep .tossable-card .item.item-divider {
  background-color: lightgreen !important;
}
.swipe-card.reject .tossable-card .item.item-divider {
  background-color: darkred !important;
}
.swipe-card.reject .tossable-card .item.item-image {
  background-color: black;
}
.swipe-card.reject .tossable-card .item.item-image > img {
  opacity: 0.5;
}
